@import "../../styles/breakpoint.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  max-width: 1300px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.85);
  @include breakpoint(lg, max) {
    padding: 16px;
  }
}

.logo {
  flex: 1;
  div {
    width: 72px;
    height: 60px;
    position: relative;
    @include breakpoint(lg, max) {
      height: 48px;
      width: 60px;
    }
  }
}

.beta_span {
  position: absolute;
  top: -10px;
  right: -50px;
  padding: 5px;
  background: #63e0c2;
  border-radius: 12px;
  font-size: 16px;
  @include breakpoint(lg, max) {
    top: -2;
  }
}

.links {
  display: flex;
  justify-content: center;
  flex: 3;
  a {
    margin: 0 10px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.1s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  @include breakpoint(lg, max) {
    display: none;
  }
}

.cta {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  button {
    margin-right: 10px;
    background: none;
     &:hover { 
      background: rgba(255, 255, 255, 0.1);
    }
  }
  a {
    button {
      background: #63e0c2;
      &:hover {
        background: #63e0c2;
        box-shadow: 0px 0px 150px #63e0c2;
      }
    }
  }
  @include breakpoint(lg, max) {
    display: none;
  }
}

.dropdown {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
  .select {
    margin-right: 10px;
    background: none;
     &:hover { 
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .active_select {
    @extend .select; 
    background: rgba(255, 255, 255, 0.1);
  }
  @include breakpoint(lg) {
    display: none;
  }
}

.menu {
  list-style: none;
  position: absolute;
  padding: 0.2em 0.5em;
  display: block;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.94);
  border-radius: 0.5em;
  top: 3em;
  margin-left: 16px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 6;
  li {
    border-radius: 0.5em;
    width: 100%;
    a {
      padding: 0.7em 0.7em;
      margin: 0.3em 0; 
      width: 100%;
      display: block;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.menu_open {
  pointer-events: all;
  opacity: 1;
}
