.container {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 160px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}
