.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.085);
}

.list_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 30px;
}

.container_sublist {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  gap: 30px;
}

.list_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 216px;
  div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-size: 20px;
      opacity: 0.58;
    }
    a {
      margin-top: 15px;
    }
  }
}

.copyright {
  margin: 100px auto;
  margin-top: 0;
  div {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    a {
      &:nth-of-type(2) {
        margin: 0 30px;
      }
    }
  }
}
