.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  z-index: 1;
  position: relative;
  .product {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    max-width: 1000px;
    span {
      font-size: 22px;
      display: block;
      opacity: 0.68;
      margin-top: 22px;
      margin-bottom: 50px;
      font-weight: 500;
    }
    .news {
      padding: 15px;
      border-radius: 15px;
      background: rgba(170, 66, 255, 0.1);
      color: rgb(99, 224, 194);
      width: fit-content;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 50px;
      a {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        svg {
          margin-left: 5px;
        }
      }
    }
    .heading_buttons {
      display: flex;
      justify-content: center;
      button {
        font-size: 18px;
        font-weight: 500;
        &:nth-child(2) {
          margin-left: 30px;
          background: rgba(255, 255, 255, 0.1);
          &:hover {
            box-shadow: none;
            background: rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
  }
  button {
    background: #63e0c2;
    &:hover {
      box-shadow: 0px 0px 150px #63e0c2;
    }
  }
}

.about {
  padding: 100px 0;
  position: relative;
  z-index: 3;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.085);
  p {
    margin: 50px auto;
    opacity: 0.68;
    text-align: center;
    width: 800px;
  }
}

.heading {
  font-size: 44px;
  font-weight: 800;
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  div:nth-of-type(1) {
    font-size: 24px;
    opacity: 0.68;
    margin-bottom: 5px;
  }
}

.perks_container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  gap: 50px;
  padding: 0 30px;
  padding-top: 50px;
}

.perk {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  div:nth-of-type(1) {
    color: #63e0c2;
    svg {
      width: 45px;
      height: 45px;
    }
  }
  div:nth-of-type(2) {
    margin: 10px 0;
    font-weight: 700;
    font-size: 26px;
  }
  div:nth-of-type(3) {
    opacity: 0.68;
    font-size: 22px;
  }
  border: 1px solid rgba(255, 255, 255, 0.085);
}

@media (max-width: 600px) {
}
